## Per REQ 4.a.
PORT=3000
BASE_URL="subdomain.domain.com"
MONGOADMINUSER="user"
MONGOADMINPW="PassWord"
MONGOURI="mongodb://user:PassWord@mongodb"
JWT_SECRET="ItsASecret"
EMAIL_HOST="mailDomain.someDOmain.mail"
EMAIL_PORT=465
EMAIL_USER="inf653@mail.fhsu.com"
EMAIL_PASS="ItsASecretPass"